a:link, a:visited {
    color: red;
    font-style:bold;
    text-decoration:solid;
}

p {
    font-size: 20px;
  }

body {
    background-image:url('https://m.media-amazon.com/images/I/51DcT2tWtVL.jpg');
    font-family:'Times New Roman', Times, serif;
    color:rgb(232, 234, 236);
    font-size:18px
 }

