a:link, a:visited {
    color: red;
    font-style:bold;
    text-decoration:solid;
}

p {
    font-size: 22px;
  }

body {
    font-family:'Times New Roman', Times, serif;
    color:rgb(232, 234, 236);
 }

