* {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 100vh;                         
    width: 100%;                          
}

.grid-item {
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.grid-item:hover {
  transform: scale(1.1) rotate(30deg);
  background-color: #8021bed1;
}

.grid-item:active {
  transform: scale(1.1) rotate(30deg);
  background-color: #000000;
}

.grid-item2 {
background-image: url('https://st2.depositphotos.com/1268660/11540/i/450/depositphotos_115405634-stock-photo-defocused-sunset-sky-natural-background.jpg');
background-position: center;
background-size: cover
}

.grid-item3 {
    transition: transform 0.5s ease, background-color 0.5s ease;
  }
  
  .grid-item3:hover {
    transform: scale(1.0) rotate(60deg);
    background-color: #6a00ff75;
  }
  
  .grid-item3:active {
    transform: scale(1.0) rotate(60deg);
    background-color: #6a00ff75;
  }

  .grid-item4 {
    transition: transform 0.5s ease, background-color 0.5s ease;
  }
    .grid-item4:hover {
    transform: scale(0.7) rotate(45deg);
    background-color: #e511cca8;
  }
  
  .grid-item4:active {
    transform: scale(1.0) rotate(45deg);
    background-color: #e511cca8;
  }

  .grid-item5 {
    transition: transform 0.5s ease, background-color 0.5s ease;
  }
    .grid-item5:hover {
    transform: scale(0.5) rotate(35deg);
    background-color: #f7fafcb3;
  }
  
  .grid-item5:active {
    transform: scale(0.5) rotate(35deg);
    background-color: #f7fafcb3;
  }
  

.item1 { background-color: #e99583; } 
.item2 { background-color: #fbc6e6; }
.item3 { background-color: #90a0ea; } 
.item4 { background-color: #c0c9f5; } 
.item5 { background-color: #f3b7f3; } 
.item6 { background-color: #c0c9f5; } 
.item7 { background-color: #c0c9f5; } 
.item8 { background-color: #fbc6e6; } 
.item9 { background-color: #e99583; } 
