.left {
    width:35%;
    display:block;
    float:left;
    padding-left:30px;
  }
  
  .right {
    width:55%;
    display:block;
    float:right;
    overflow-y: scroll;
    overflow-x: hidden;
    height:100vh;
  }
  
  img {
    width:95%;
  }
  
  @media screen and (max-width: 992px) {
    .left {
      width:60%;
      float:none;
      margin:0 auto;
      text-align:center;
      padding:0px;
    }
    .right {
      width:80%;
      text-align:center;
      float:none;
      margin:0 auto;
      overflow-y:hidden;
      overflow-x:hidden;
      height:auto;
    }
  }
  
  @media screen and (max-width: 576px) {
    .left {
      width:100%;
    }
    .right {
      width:100%;
    }
  }

  
  a:link, a:visited {
    color: green;
    font-style:italic;
    text-decoration: underline;
} 
